.root {



}
.header {
    -fx-font-size: 24;
    -fx-text-fill: #363945;
}
.value-label {
    -fx-font-size: 20;
    -fx-text-fill: #363945;
}
.value {
    -fx-font-size: 18;
    -fx-text-fill: #363945;
}

.result {
    -fx-text-fill: red;
}
.reset-btn:hover
{
    -fx-background-color: green;
}
.reset-btn
{
    -fx-text-fill: whitesmoke;
    -fx-background-color: red;
}
.label
{
    -fx-text-fill: #363945;
}

